<div class="view">
  <input    class           = "toggle"
          type          = "checkbox"
          name          = "done"
          [ngModel] = "isDone"
          (ngModelChange) = "isDone = $event"
  />
  <label  class="texte" *ngIf="!editionMode"
          (dblclick)="editionMode = true"
         >{{label}}</label>
  <button class="destroy" (click)="destroy()"></button>
</div>
<form *ngIf="editionMode" (submit)="label = newTextInput.value">
  <input  #newTextInput
          name    = "newTextInput"
          class   = "edit"
          [ngModel] = "data.label"
          (blur)  = "label = newTextInput.value"
          />
</form>